<% for (let i=0; i < products.length; i++) { %> <% if
(products[i].id===productId) { %>
<h2>Detail for Product <%= products[i].name %></h2>
<div>Product ID: <%= products[i].id %></div>
<div>Product Name: <%= products[i].name %></div>
<div>Code: <%= products[i].code %></div>
<div>Unit Cost: <%= products[i].unitCost %></div>
<div>
    <p><a href="<%= products[i].id %>/edit">Update</a></p>
</div>
<% } %> <% } %>
